<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h1>Dojo Survey!</h1>
    <form action="/landing" method="post">
        Your name:<br>
        <input type="text" name="name"><br>
        Dojo Location:
        <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="New York">New York</option>
        </select><br>
        Language:
        <select name="language">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="C#">C#</option>
        </select><br>
        Comment:<br>
        <textarea rows="4" cols="50" name="comment"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>